* {
    margin: 0;
    padding: 0;
}

body {
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   background: #5F5452; 
}

.container {
    width: 1080px;
    margin: 0 auto;
    color: #fff;
    clear: both;
    margin-top: 20px;
}

a:link, a:active, a:visited{
    color: black;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

header {
    background: #E59866;
    padding: 35px 0px 45px 0px;
}

.conteudo-topo {
    width: 1080px;
    margin: 0 auto;
}

#logo{
    float: left;
    /* border: 1px solid black; */
}

#logo a {
    display: block;
}

nav ul {
    list-style: none;
    text-decoration: none;
    float: right;
    /* margin-right: 100px; */
    /* border: 1px solid black; */
}

nav ul li {
   float: left; 
}

nav ul li a:link {
    display: block;
    margin-left: 100px;
    font-size: 1.2em;
}

.form-cadastro{
    border: 1px solid red;
    padding: 5px;
    display: block;
}